<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>. <br>
    {{ site.author.bio }}<!-- <a href="{{ '/about' | prepend: site.author.url}}" target="_blank">about me</a></p>-->
  </div>
</section>
