
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}<span>{{ site.title2 }}</span></a></h1>
    <ul class="navbar">
      <li><a href="https://alexionescu.net">Website</a></li>
      <!--<li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"target="_blank">RSS</a></li>-->
    </ul>
  </div>
</nav>
